:root {
    --navy: #000080;
    --cornflower: #6495ed;
    --white: #ffffff
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 85px;
    background-color: var(--navy);
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--white);
    font-size: 3rem;
    padding: 2%;
}

.high-scores, #timer {
    color: var(--white);
    font-size: 1.5rem;
    padding: 3%
}

.high-scores:hover {
    box-shadow: inset 0px 0px 8px var(--cornflower), 0 0 15px var(--cornflower);
}

.description {
    color: var(--navy);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 5%;
}

#start-quiz-button {
    background-color: var(--navy);
    color: var(--white);
    font-size: 3rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start-quiz-button:hover {
    box-shadow: inset 0px 0px 8px var(--cornflower), 0 0 15px var(--cornflower);
}
